.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-image: linear-gradient(90deg, #39f 0%, #9cf 100%);
  grid-template-columns: repeat(12, 1fr);

  .aesthetic-box {
    grid-column: 1 / 4;
    display: grid;
    flex-direction: column;

    .illustration-img-box {
      flex: 1;
    }
  }

  .page-box {
    grid-column: 5 / -1;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem 0 0 4rem;
    background-color: white;
  }
}

@media (min-width: 1200px) {
  .Img {
    width: 100%;
  }
  .container .aesthetic-box .slogan-img-box,
  .container .aesthetic-box .illustration-img-box {
    width: 150%;
  }
}

@media (min-width: 1100px) and (max-width: 1200px) {
  .Img {
    width: 100%;
  }
  .container .aesthetic-box .slogan-img-box,
  .container .aesthetic-box .illustration-img-box {
    width: 150%;
  }
}
@media (max-width: 600px) {
  .Img {
    width: 100%;
  }
  .container .aesthetic-box .slogan-img-box {
    min-width: 75%;
  }
}
@media (max-width: 1100px) {
  .Img {
    width: 100%;
  }
  .container .aesthetic-box .slogan-img-box {
    align-self: center;
    width: 50%;
  }
  .container .aesthetic-box .illustration-img-box {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .container .page-box {
    background-color: transparent;
  }
  html {
    font-size: 8px !important;
  }
}
